div.texto{
    width: 650px; height: 250px;
    position: relative;
    top: 20px; left: 20px;
}
div.datos-contacto{
    width: 405px; height: 300px;  
    position: absolute;
    top: 20px; left: 700px;
}
div.donde-estamos{
    width: 405px; height: 300px;  
    position: absolute;
    top: 340px; left: 700px;
}
div.formulario{
    width: 650px; height: 460px;
    position: absolute;
    top: 300px; left: 20px;
}
input.name{
    position: absolute;
    top: 0px; left: 20px;
}
input.email{
    position: relative;
    top: 0px; left: 20px;
}
input.web{
    position: relative;
    top: 0px; left: 20px;
}
textarea.texto{
    position: relative;
    top: 0px; left: 20px;
}
input.boton{
    position: relative;
    top: 0px; left: 20px;
}
span.name{
    display: block;
    width: 20px; height: 20px;
    background-image: url(../img/glyphicons-halflings.png);
    background-repeat: none;
    background-position: -167px 2px ;
    position: absolute;
    top: 0px; left: 0px;
}

span.email{
    display: block;
    width: 20px; height: 20px;
    background-image: url(../img/glyphicons-halflings.png);
    background-repeat: none;
    background-position: -73px -2px ;
    position: absolute;
    top: 40px; left: 0px;
}
span.web{
    display: block;
    width: 20px; height: 20px;
    background-image: url(../img/glyphicons-halflings.png);
    background-repeat: none;
    background-position: 132px 21px ;
    position: absolute;
    top: 70px; left: 0px;
}
