
div#pie{ /*Esto es el pie*/
    
    width: 1150px; ; height: 330px;
    position: relative;
    top: 0px; left: 0px;
    background-color: grey;
}
div.pie-peque{  /*Esto son las 4 cajas del pie*/
    margin-top: 10px;
    width: 280px; ; height: 250px;
    float: left;
}
div.pie-completo{ /*Esto es la barra final del pie*/
    position: relative;
    top: 30px; left: 0px;
    height: 40px;
    background-color: rgb(63, 65, 68);
}
div#pie div.pie-completo a { /*Menu del pie completo*/
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    overflow: visible;
    display: block;
    float: right;
    padding: 5px;
    list-style-type: none;
    color: rgb(0, 204, 255);
    padding-right: 15px;
}
div#pie div.pie-completo p.copy{
 padding-top: 5px;
 color: rgb(0, 204, 255);
 font-family: 'Oswald', sans-serif;
 padding-left: 15px;
 float: left;
} 
div.pie-peque p{
    color: rgb(0, 204, 255);
    font-family: 'Oswald', sans-serif;
    padding-left: 30px;

}
img.logo{
    padding-left: 30px; 
}
div.cuadraditos{
    display: block;
    border: 3px solid rgb(22, 187, 209);
width: 50px; height: 50px;
float: left;
margin: 5px;
}
div.cuadraditos img{
    display: block;
    width: 50px; height: 50px;
    
}
a{
    color: rgb(0, 204, 255);
    font-family: 'Oswald', sans-serif;
    text-decoration: none;

}


div.imgmasvisitados{
    display: block;
    border: 3px solid rgb(22, 187, 209);
width: 50px; height: 50px;


}

img.imgmasvisitados{

    display: block;
    width: 50px; height: 50px;

}